/* Create a top navigation bar with a black background color  */
.topnav {
    background-color:lightgrey;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color:blue;
    color:black;
  }
  











.header1-styling{
  background-color: lightgrey;
  border: 3px solid;
  color:black;
}
#above-header-container{
 border: 3px solid black;
  background-color: white;
  display: flex;
  align-content: space-evenly;
}
.image-container{
  padding: 10px;
}
.purchase-button{
  background-color: green;
}
.card-container{
  display: flex;
  justify-content: space-evenly;
}
.card{
  border: solid;
  padding: 3rem;
  background-color: burlywood;
}
.bootstrap-card{
  display: flex;
}
.second-card-container{
  display: flex;
  justify-content:space-evenly ;
}





body{
  background-color: blanchedalmond;
  margin: 10;
  padding: 110;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-content{
  display: flex;
  background-color:lightgrey;
  border: 2px;
}

main{
  flex: 1;
}

.list-row{
  display: flex;
 justify-content: space-between;
}
.list-row a{
  padding: 30px;
  ;
  color: black;
}
.paragraph-container{
  display: flex;
}


.header-container{
  display: flex;
  justify-content: space-around;
}
.body-table img{
  display: flex;
  float: right;
}
.header-photos{
  display: flex;
  justify-content: space-evenly;

}
